extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
block content
  h1= title
  a(href="/yearly")
    | Go to yearly graph
  br
  a(href="/monthly")
    | Go to monthly graph
