extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
block content
  h1= title
  a(href="/yearly")
    | p Go to yearly graph
