extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  
block navbar
  if currentUser
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#")= title
        .nav.navbar-nav.navbar-right
          p.navbar-text= userName
          a.btn.btn-primary.navbar-btn(href="/logout") Log out
block content
  if currentUser
    .half-width
      a.link-container.center-block.text-center(href="/yearly")
        span Yearly
      p.desc let's you see your years progress of your psychological state on added days. It doesn't have a feature to edit them though.
    .half-width
      a.link-container.center-block.text-center(href="/monthly")
        span Monthly
      p.desc let's you see months progress of your psychological state on added days, and you can edit them there. You can see previous and future months too.
  else
    h1= title
    .forms(style="height: 230px;")
      .half-width
        .sign-form.center-block
          // login form
            
          form(method='POST' action='/login')
            h4 LOGIN
            div.input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input#username.form-control(type='text', placeholder='Username' name='username')
            div.input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#password.form-control(type='password' name='password' placeholder='Password')
            button.btn.btn-primary.center-block(type='submit') Sign up
      .half-width
        .sign-form.center-block
          // register form
          h4 REGISTER
          form(method='POST' action='/register')
            div.input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input#username.form-control(type='text', placeholder='Username' name='username')
            div.input-group
              span.input-group-addon
                i.glyphicon.glyphicon-envelope
              input#email.form-control(type='email', placeholder='Email' name='email')
            div.input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#password.form-control(type='password' name='password' placeholder='Password')
            div.input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#passwordConf.form-control(type='password' name='passwordConf' placeholder='Confirm password')
            button.btn.btn-primary.center-block(type='submit') Register

  .center-block(style="width: 900px; margin-top: 50px;")
      span
        i.glyphicon.glyphicon-warning-sign(style="font-size: 100px; color: #ffd900;")
        h3(style="display: inline; margin-left: 20px; color: #333333;") This is still in development(alpha stage), the finished site will be a lot different from current one. There can be errors.