/* fantastic */
.color0 {
  fill: #e100ff
}

.color0:hover {
  fill: #9e00b3
}


/* happy */
.color1 {
  fill: #15f7ff;
}

.color1:hover {
  fill: #00bac0;
}

/* average */
.color2 {
  fill: #0099ff;
}

.color2:hover {
  fill: #0068ad;
}

/* sad */
.color3 {
  fill: #002fff;
}

.color3:hover {
  fill: #0023c0;
}

/* tired */
.color4 {
  fill: #1fcf54;
}

.color4:hover {
  fill: #008628;
}

/* angry */
.color5 {
  fill: #ce0000;
}

.color5:hover {
  fill: #a80000;
}
/* shitty */
.color6 {
  fill: #c98200;
}

.color6:hover {
  fill: #573800;
}