.color0{
    fill: #e100ff
}
.color0:hover{
    fill:#ec5cff
}
.color1 {
    fill: #42f9ff;
  }
  .color1:hover{
    fill: #5ffaff;
  }
  .color2 {
    fill: #0099ff;
  }
  .color2:hover{
    fill:#58bcff;
  }
  .color3 {
    fill: #002fff;
  }
  .color3:hover{
    fill:#4e6eff;
  }
  .color4 {
    fill: #1fcf54;
  }
  .color4:hover{
    fill:#33ff70;
  }
  .color5 {
    fill: #ce0000;
  }
  .color5:hover{
    fill:#ec3939;
  }
  .color6{
    fill: #7e5407;
  }
  .color6:hover{
    fill: #a17219;
  }